:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #fff;
  --dairy: #fcfcfc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
}
button {
  font-family: inherit;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue);
}
/* logo */
header {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header-logo-wrap {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}
.web:active {
  color: var(--ocean);
}
.studio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--navyblue);
}
.white-studio {
  color: var(--cloud);
}
/* top line */
nav {
  display: flex;
  gap: 76px;
}
.nav-list {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
}
.nav-list-item-link {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  font-size: 16px;
  position: relative;
}
.nav-list-item-link:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -28px;
  border-radius: 2px;
  background: var(--ocean);
}
.nav-list-item :hover,
.nav-list-item :focus {
  color: var(--iris);
}
.nav-list-item :active {
  color: var(--ocean);
}
.address {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.address :hover,
.address :focus {
  color: var(--iris);
}
.address :active {
  color: var(--ocean);
}
/* footer */
.section-footer {
  background: var(--navyblue);
  padding: 0;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  /* width: 264px; */
  gap: 17.5px;
  margin: 101.5px 0 100px 156px;
}
.footer-logo-wrap {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--cloud);
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 100px 0 132px 120px;
}
.social-media-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.icon-footer-container {
  display: flex;
  gap: 16px;
}
.icon-footer {
  width: 40px;
  height: 40px;
  fill: var(--iris);
}
.icon-footer:hover,
.icon-footer:focus {
  cursor: pointer;
  fill: var(--green);
}
/* hero image */
.section-hero {
  padding: 188px 0;
  background: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.hero-title {
  width: 496px;
  font-size: 56px;
  text-align: center;
  letter-spacing: 1.12px;
  line-height: 107.143%;
  color: var(--white);
}
.button-order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.64px;
  white-space: nowrap;
  color: var(--white);
  border: unset;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: var(--ocean);
}
.button-order:active {
  background-color: var(--ocean);
}
/* section 1 */
.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.section-features-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 264px;
  gap: 8px;
}
.section-feature-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.section-feature-list-detail {
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.icon-features {
  width: 264px;
  height: 112px;
}
/* section 2 */
.section-services {
  padding-top: 0;
}
.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.section-services-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-service-list-img {
  width: 360px;
  height: 300px;
  border: 1px solid var(--cornflower);
}
/* section 3 */
.container-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.section-team {
  background: var(--cloud);
}
.section-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section-team-item-img {
  width: 264px;
  height: 260px;
}
.section-team-item-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  padding: 32px 0;
}
.section-team-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.section-team-item-role {
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.icon-team-container {
  display: flex;
  justify-content: space-evenly;
  row-gap: 24px;
}
.icon-team {
  width: 40px;
  height: 40px;
  fill: var(--iris);
}
.icon-team:hover,
.icon-team:focus {
  cursor: pointer;
  fill: var(--ocean);
}
/* section 4 */
.section-clients {
  padding: 120px 0 120px;
}
.container-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.icon-clients-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-clients {
  display: block;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  fill: var(--light-slate);
  border: 1px solid var(--light-slate);
}
.icon-clients:hover,
.icon-clients:focus {
  cursor: pointer;
  fill: var(--ocean);
  border-color: var(--ocean);
}
/* portfolio */
/* section 1  */
.section-button-filter {
  padding: 0;
}
.container-button-filter {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
  padding: 96px 0 72px;
}
.section-button-filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);
}
.section-button-filters:hover,
.section-button-filters:focus {
  cursor: pointer;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--ocean);
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* section 2 */
.section-projects {
  padding-top: 0;
  padding-bottom: 120px;
}
.section-projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.section-project-card {
  position: relative;
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
}
.section-project-image {
  width: 360px;
  height: 300px;
}
.section-project-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.section-card-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.section-card-text {
  line-height: 150%;
  letter-spacing: 0.32px;
}
.section-project-card:hover,
.section-project-card:focus {
  cursor: pointer;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* .modal-header{
  background: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7));
  border-bottom: rgb(46, 47, 66, 0.7);
}
.modal-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 80px;
}
.modal-overlay {
  display: flex;
  justify-content: flex-end;
  width: 408px;
  height: 584px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
  0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.icon-modal {
  display: block;
  width: 24px;
  height: 24px;
} */
/* 5555555555555555555555555555555555555555555555555555 */

/* .project-card-box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.project-card-overlay p {
  margin: 0;
  color: var(--cloud);
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 40px 32px 164px 32px;
}
.project-card-box:hover .project-card-overlay {
  transform: translatey(0);
} */